<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>대구소프트웨어고등학교 원서 접수 이메일 인증</title>

        <script>
            const loaded = () => {
                if ([[${isConfirm}]]) {
                    alert("인증 성공")
                } else {
                    alert("인증 실패")
                }
                self.opener = self
                window.close()
            }
        </script>
    </head>
<body onload="loaded()">

</body>
</html>